name: Section 6 Demo
on:
  push:
    branches:
      - main
env:
  MONGODB_DB_NAME: gha-demo
jobs:
  test:
    defaults:
      run:
        working-directory: example/section-6
    env:
      MONGODB_CLUSTER_ADDRESS: vuthach.kdc6l5v.mongodb.net
      MONGODB_USERNAME: vuthach
      MONGODB_PASSWORD: F8JQ47gtZ8IB54Xe
      PORT: 8080
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v4
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: npm-deps-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Run server
        run: npm start & npx wait-on http://127.0.0.1:$PORT
      - name: Run tests
        run: npm test
      - name: Output information
        run: |
          echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |        
          echo "MONGODB_USERNAME: ${{ env.MONGODB_USERNAME }}"
          echo "MONGODB_DB_NAME: ${{ env.MONGODB_DB_NAME }}"
